<web-app version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PgPrincipalServlet</servlet-name>
  	<display-name>PgPrincipalServlet</display-name>
  	<description></description>
  	<servlet-class>com.squirrelTail.controllers.PgPrincipalServlet</servlet-class>
  </servlet>
  <servlet>
  	<display-name>PrincipalServlet</display-name>
  	<servlet-name>PrincipalServlet</servlet-name>
  	<servlet-class>com.squirrelTail.controllers.PrincipalServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BarEjemploServlet</display-name>
  	<servlet-name>BarEjemploServlet</servlet-name>
  	<servlet-class>com.squirrelTail.controllers.BarEjemploServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PgPrincipalServlet</servlet-name>
  	<url-pattern>/PgPrincipal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BarEjemploServlet</servlet-name>
  	<url-pattern>/BarEjemplo</url-pattern>
  </servlet-mapping>
  
</web-app>
